/* Styles géknéraux */
.custom-box {
  border: 2px solid #000; /* Couleur noire pour la bordure, vous pouvez ajuster la couleur */
  padding: 0px; /* Marge intérieure pour le contenu */
  border-radius: 5px; /* Bordure arrondie, vous pouvez ajuster la valeur */
  width: 200px; /* Largeur de la boîte, vous pouvez ajuster la valeur */
  text-align: center; /* Alignement du texte au centrée*/
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f0e8;
  color: #333;
}
p{
  margin-top: 50px;
}
h1, h2, h3 {
  color: #654321;
}

a {
  text-decoration: none;
  color: #654321;
}

/* Styles de l'en-tête */
header {
  background-color: #f3f0e8;
  padding: 20px;
  text-align: center;
  height: 10px;
}

/* Styles du sommaire */
/* Styles du sommaire */
/* Styles du sommaire */
#sommaire {
  background-color: #333;
  opacity: 10%;
  padding: 20px;
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 50%;
  z-index: 999;
  transition: left 0.3s ease-out;

}

#sommaire.active {
  opacity: 100%;
  background-color: #ebe4d9

}


#sommaire ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sommaire li {
  margin-bottom: 10px;
}

/* Styles du contenu principal */
main {
  padding: 20px;
  margin-top: 120px; /* Ajoutez un espace en haut pour éviter que le contenu principal ne soit masqué par le sommaire fixe */
}

section {
  margin-bottom: 40px;
}

.content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  align-self: center;
  width: 90%;
}

img, video {
  max-width: 500px;
  border-radius: 15px;
  max-height: 500px;
}

@media (max-width: 600px) {
  img, video {
    max-width: 100%;
  }
}

/* Styles du pied de page */
footer {
  background-color: #ebe4d9;
  padding: 20px;
  text-align: center;
  font-size: 0.8em;
  color: #777;
}
